
$borderCol: #3b5998;
$fontCol: #3b5998;
$bcgCol: #cbf7ff;


.mainApp {
  margin: 5% auto;
  text-align: center;
  width: 320px;
  border: 3px solid $borderCol;
  background: $bcgCol;
  font-size: 10px;
  font-family: Arial, sans-serif;

  .title {
    margin: 5% auto;
    color: $fontCol;
    font-size: 2.6em;
    text-transform: uppercase;
  }
}

.form {
  width: 80%;
  margin: 0 auto;
  height: 50%;
  border: 1px solid $borderCol;
}

input {
  margin: 3% auto;
}

button {
  border: 1px solid $borderCol;
  background: $bcgCol;
  border-radius: 10px;
  color: $fontCol;
  font-weight: bold;
}

.del {
  border: 1px solid red;
  color: red;
}

.add-btn {
  margin-bottom: 5%;
}

h3 {
  margin: 5% auto;
  color: $fontCol;
  font-size: 1.5em;
  text-transform: uppercase;
}


.active {
  display: inline-block;
  color: $fontCol;
}

div p strong {
  font-size: 1.5em;
  color: $fontCol;
}


